<ion-content class="ion-padding">
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="6">
            <ion-list lines="inset" style="padding-bottom:4rem!important;">
                {{#data}}
                    {{> ilsccheckmarket/survey_header}}
                    {{#items}}
                        {{> ilsccheckmarket/survey_item}}
                    {{/items}}
                {{/data}}
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>
